.conversation {
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.conversation .message {
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.conversation .message:not(:last-child) {
  margin-bottom: 10px;
}

.conversation .sent-message {
  align-self: flex-end;
  background: hsla(0, 0%, 50.2%, 0.6);
  color: hsl(0, 0%, 14.1%);
}

.conversation .received-message {
  align-self: flex-start;
  background: hsla(262.3, 72.1%, 39.4%, 0.8);
  color: hsl(0, 0%, 83.1%);
}

.conversation .message .user {
  font-size: 0.75rem;
}

.conversation .message .date {
  font-size: 0.75rem;
  align-self: flex-end;
}