.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: flex-end;
}

.chat-container .input-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.chat-container .no-messages {
  display: flex;
  align-items: center;
  height: 100%;
}

* {
  box-sizing: border-box;
}


